.formComponent{
    width: 80%;
    display: grid;
    justify-items: center;
    margin: 30px auto;
}

.formComponent > h1 {
    width: 80%;
    text-align: center;
}

.formComponent > p {
    margin: 30px auto;
    width: 60%;
    line-height: 1.8;
}

.formBase {
    background-color: rgb(245, 254, 246);
    border: 2px solid rgb(234, 240, 231);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(226, 255, 225);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(85, 85, 85);
}

.formBase > input{
    width: 200px;
    margin: auto;
    height: 40px;
    border-radius: 30px;
}
.formBase > div {
    display: grid;
}
.principalFields{
    grid-template-columns: repeat(2, 50%);
    margin: 30px;
}

.requiredFields{
    display: grid;
}
.requiredFields > input{
    width: 80%;
    height: 30px;
    outline: none;
    margin: 4px auto;
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
    padding: 3px;
    text-align: center;
    box-shadow: 4px 4px 4px rgb(210, 232, 207);
    font-size: 16px;
    background-color: rgb(249, 255, 250);
}

.principalOptionalFields > div > input{
    outline: none;
    margin: 4px 5px;
    height: 30px;
    margin: 4px auto;
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
    padding: 3px;
    box-shadow: 4px 4px 4px rgb(210, 232, 207);
    width: 40%;
    text-align: center;
    font-size: 16px;
    background-color: rgb(249, 255, 250);
}

.genderBase{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
    padding: 3px;
    box-shadow: 4px 4px 4px rgb(210, 232, 207);
    margin: 4px auto;
    height: 30px;
    width: 80%;
    align-items: center;
    background-color: rgb(249, 255, 250);
}

.genderBase> p:hover{
    background-color: rgb(220, 236, 222);
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
}

.countriesList{
    font-size: 15px;
    width:80%;
    height: 38px;
    padding: 3px 10px;
    margin-top: 10px;
    background-color: rgb(249, 255, 250);
    outline: none;
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
    font-size: 20px;
    color: rgb(128, 128, 128);
    
}

.countriesList > option{
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.textAreaBase > div{
    display: grid;
    width: 80%;
    margin: 20px auto;
}

.textAreaBase > div > textarea{
    resize: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
    padding: 10px;
    box-shadow: 4px 4px 4px rgb(210, 232, 207);
    margin: 4px auto;
    height: 80px;
    width: 100%;
    font-size: 16px;
}

.textAreaBase > div > p{
    font-size: 20px;
    line-height: 1.8;
    font-weight: 600;
}


.submitButton{
    display: grid;
    background-color: aliceblue;
    border-radius: 20px;
    border: 4px solid rgb(170, 201, 170);
    padding: 10px;
    box-shadow: 4px 4px 4px rgb(210, 232, 207);
    font-size: 20px;
    margin: 20px auto;
    width: 50%;
    color: rgb(96, 96, 96);
    font-weight: 700;
}

.submitButton:active{
    background-color: rgb(225, 255, 234);
    border-radius: 20px;
    border: 4px solid rgb(170, 201, 170);
}


.genderSelected{
    background-color: rgb(153, 213, 160);
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
}

.genderSelected:hover{
    background-color: rgb(153, 213, 160) !important;
    border-radius: 20px;
    border: 2px solid rgb(170, 201, 170);
}