.aboutUsBase{
    width: 90%;
    display: grid;
    margin: 30px auto;
}

.aboutUsBase > div{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 0;
    color: rgb(116, 116, 116);
    background-color: rgb(246, 255, 241);
    box-shadow: 10px 10px 10px rgb(233, 233, 233);
}

.aboutUsBase > div > p{
    display: grid;
    border: 5px solid rgb(207, 223, 136);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    width: 97%;
    font-size: 18px;
    text-align: center;
    align-content: center;
    font-weight: 600;


}
.aboutUsBase > div > div{
    display: grid;
    align-content: center;
    border: 5px solid rgb(207, 223, 136);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 500px;
    
    padding: 10px;
    font-size: 13px;
    line-height: 1.5;
    
}

.objects{
    line-height: 1.5;
}

@media only screen and (min-width: 480px) {
    
    .aboutUsBase > div > p{
        width: 98.5%;
        font-size: 20px;
    }
    .aboutUsBase > div > div{
        font-size: 15px;
        line-height: 1.8;
    }
    
    .objects > div > p{
        margin-bottom: 20px;
        
    }
}
@media only screen and (min-width: 768px) {
    .aboutUsBase > div{
        grid-template-columns: 20% 80%;
    }

    .aboutUsBase > div > p{
        width: 100%;
        font-size: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: auto;
    }
    .aboutUsBase > div > div{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
@media only screen and (min-width: 1024px) {
    .aboutUsBase > div > p{
        font-size: 25px;
    }

    .aboutUsBase > div > div{
        font-size: 19px;
    }
}
@media only screen and (min-width: 1200px) {}